
.contacts {


    h1 {
        color: var( --color-theme-tertiary);
    }

    .container {
        padding: 20px;
        display: flex;
        flex-direction: column;

        @include lg {
            flex-direction: row;
        }

        justify-content: space-between;

        .contact-info {
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;

            h4 {
                color: var( --color-theme-tertiary);
            }

            i {
                padding-right: 5px;
                color: var( --color-theme-tertiary);
            }
        }
    }
}

.contacts-header {

    h1 {
        color: var( --color-theme-tertiary);
    }

    text-align:center;
}
