#rides {
    .container {
        width: 100%;
        max-width: 1320px;
        margin: 0 auto;
        box-sizing: border-box;


        h1 {
            text-align: center;
            width: 100%;
            margin: 0 auto;

            @include xl {
                text-align: left;
                width: 90%;
            }

            @include xxl {
                width: 70%;
            }
        }

        a {
            text-decoration: none !important;
        }

        .heading {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 auto;

            @include xl {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 90%;
            }

            @include xxl {
                width: 70%;
            }

            h2 {
                margin: 0;
                padding: 0;
            }

            input {
                padding: 10px 10px 10px 15px;
            }

            i {
                right: 15px;
                color: $gray-700;
            }

            form {
                .content {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    width: 100%;

                    @include lg {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .btn-accent-mustard {
                        width: 100%;
                        padding: 8px 15px;
                        border: none;
                        border-radius: 0.5rem;
                         color: #fff;
                        font-weight: 600;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        i {
                            font-size: 14px;
                            color: #fff;
                        }

                     

                        @include lg {
                            width: auto;
                            min-width: 80px; // ensures both look uniform
                            height: 44px; // same height
                        }
                    }
                }
            }
        }

        .content-contaier {
            padding-top: 50px;
            display: grid;
            grid-template-columns: 1fr;
            gap: 2.5rem 1.7rem;
            width: 100%;
            margin: 0 auto;

            @include lg {
                width: 70%;
            }
        }
    }
}
