
.showcase {
    position: relative;
    padding-top: 0;

    @include lg {
        padding-top: 80px;
    }

    .container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;

        @include lg {
            padding: 0 20px;
        }

        .content {
            display: flex;
            max-width: 600px;
            text-align: center;
            align-items: center;
            width: 100%;
            flex-direction: column;

            @include lg {
                align-items: flex-start !important;
                text-align: left;
            }

            .text-block {
                text-align: center;
                padding: 10px;

                @include lg {
                    text-align: left;
                    padding: 0;
                }

                h1 {
                    font-size: 2.5rem;
                    font-weight: 700;
                    color: var(--color-theme) !important;

                    span {
                        color: var(--color-theme-secondary) !important;
                    }

                    @include lg {
                        @include d2;

                        span {
                            @include d2;
                        }
                    }
                }

                h2 {
                    margin-top: 0.5rem;
                    color: var(--color-accent-green) !important;
                }

                p {
                    width: 400px;
                }
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                max-width: 300px;
                width: 100%;
                align-items: center;

                @include lg {
                    align-items: flex-start !important;
                    text-align: left;
                }

                input {
                    padding: 0.75rem;
                    border-radius: 6px;
                    border: 1px solid var(--color-accent-green);
                }

                .btn-accent-orange {
                    background-color: #f4a300;
                    color: #fff;
                    border: none;
                    padding: 12px;
                    border-radius: 8px;
                    font-weight: 600;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }

        .floating-image {
            width: 100%;
            margin: 0 auto 20px auto;
            display: block;

            @include lg {
                position: absolute;
                left: -60px;
                top: 60px;
                transform: translate(40%, -10%);
                width: 1000px;
                margin: 0;
            }
        }
    }
}
