
<footer>
    <div class="container" >
        <div class="@((ViewContext.RouteData.Values["Controller"]!.ToString() == "Auth") ? " d-none" : "social-media")">
            <a class="btn-social" href="#"> <i class="fa-brands fa-facebook-f"></i></a>
            <a class="btn-social" href="#"> <i class="fa-brands fa-twitter"></i></a>
            <a class="btn-social" href="#"> <i class="fa-brands fa-instagram"></i></a>
            <a class="btn-social" href="#"> <i class="fa-brands fa-youtube"></i></a>
       </div>
        <p class="copyright">
            &copy; @DateTime.Now.Year Samåka Norr. All rights reserved. <span></span>
        </p>
    </div>
</footer>
