@model RidesViewModel
<div class="showcase">
    <div class="container">
        <div class="content">
            <div class="text-block">
                <h1>
                    <span>SAMÅKA <span class="theme-text">NORR</span></span> Erbjud eller Efterfråga Resor
                </h1>
                <p>Vår plattform kopplar samman resenärer för att göra resor mer hållbara, prisvärda och sociala. Börja erbjuda eller boka din resa idag!</p>
            </div>

            <form method="post" asp-controller="Rides" asp-action="Index">
                <div class="content">
                    <div id="form-departure" class="input-group">
                        <label asp-for="SearchModel!.Origin"></label>
                        <input asp-for="SearchModel!.Origin" id="origin" />
                    </div>
                    <div id="form-destination" class="input-group">
                        <label asp-for="SearchModel!.Destination"></label>
                        <input asp-for="SearchModel!.Destination" id="destination" />
                    </div>
                    <div id="form-date" class="input-group">
                        <label asp-for="SearchModel!.DepartureTime"></label>
                        <input asp-for="SearchModel!.DepartureTime" type="datetime-local" />
                    </div>
                    <button id="form-button" class="btn-accent-orange" type="submit">Sök resan</button>
                </div>
            </form>

        </div>
        <img src="~/images/showcase.png" />
    </div>
</div>
