
//theme 1 
/*:root {
    --color-gray-000: #FFFFFF;
    --color-gray-100: #F2F2F2;
    --color-gray-200: #E5E5E5;
    --color-gray-300: #CCCCCC;
    --color-gray-400: #B3B3B3;
    --color-gray-500: #999999;
    --color-gray-600: #808080;
    --color-gray-700: #666666;
    --color-gray-800: #4D4D4D;
    --color-gray-900: #262626;
    --color-transparent: transparent;
    --color-white: #FFFFFF;
    --color-gray: #999999;
    --color-black: #000000;

    // Theme Greens/Grays 
    --color-theme: #617D6E; // Lavar
    --color-theme-hover: #506658;
    --color-theme-tertiary: #465E52; // Mossa
    --color-theme-tertiary-hover: #3A4F45;
    --color-theme-secondary: #B7C1BB; // Moln
    --color-theme-secondary-hover: #9BA39F;
    --color-accent-mustard: #E5E1DC; // Skum
    --color-accent-mustard-hover: #CFCAC5;

    // Accent Colors 
    --color-accent-teal: #4F4B49; // Bark
    --color-accent-tan: #C8B091; // Trä
    --color-accent-green: #617D6E; // Lavar
    --color-accent-beige: #E6E0D9; 
    --color-accent-mustard: #C6AA58; 

    // Alerts 
    --color-danger-dark: #bf0000;
    --color-danger: #FF0000;
    --color-success: #BCF7D2;
    --color-success-dark: #22C55E;
    --color-warning: #FFE8AD;
    --color-warning-dark: #FFCC00;
    --color-info: #CFDEFD;

    // Gradients 
    --theme-opacity: #617D6E14; // Lavar with transparency
    --theme-gradient: linear-gradient(90deg, #617D6E 0%, #465E52 50%, #E5E1DC 100%);
    --theme-gradient-bg: linear-gradient(-1deg, rgba(97,125,110,0.1) 0%, rgba(70,94,82,0.08) 45%, rgba(229,225,220,0.05) 75%);

    --font-standard: "Manrope", sans-serif;
}
*/

//theme 1
:root {
    --color-gray-000: #FFFFFF;
    --color-gray-100: #F2F2F2;
    --color-gray-200: #E5E5E5;
    --color-gray-300: #CCCCCC;
    --color-gray-400: #B3B3B3;
    --color-gray-500: #999999;
    --color-gray-600: #808080;
    --color-gray-700: #666666;
    --color-gray-800: #4D4D4D;
    --color-gray-900: #262626;
    --color-transparent: transparent;
    --color-white: #FFFFFF;
    --color-gray: #999999;
    --color-black: #000000;
    // Theme Greens/Grays
    --color-theme: #617D6E; // Lavar
    --color-theme-hover: #506658;
    --color-theme-tertiary: #465E52; // Mossa
    --color-theme-tertiary-hover: #3A4F45;
    --color-theme-secondary: #B7C1BB; // Moln
    --color-theme-secondary-hover: #9BA39F;
    --color-accent-mustard: #E5E1DC; /* Skum */
    --color-accent-mustard-hover: #b58e5c; /* Slightly darker Skum */
    // Accent Colors
    --color-accent-teal: #4F4B49; // Bark
    --color-accent-tan: #C8B091; // Trä
    --color-accent-green: #617D6E; // Lavar
    --color-accent-beige: #E6E0D9;
    --color-accent-mustard: #C6AA58;
    // Alerts
    --color-danger-dark: #bf0000;
    --color-danger: #FF0000;
    --color-success: #BCF7D2;
    --color-success-dark: #22C55E;
    --color-warning: #FFE8AD;
    --color-warning-dark: #FFCC00;
    --color-info: #CFDEFD;
    // Gradients
    --theme-opacity: #617D6E14; // Lavar with transparency
    --theme-gradient: linear-gradient(90deg, #617D6E 0%, #465E52 50%, #E5E1DC 100%);
    --theme-gradient-bg: linear-gradient(-1deg, rgba(97,125,110,0.1) 0%, rgba(70,94,82,0.08) 45%, rgba(229,225,220,0.05) 75%);
    --font-standard: "Manrope", sans-serif;
}
